// 全局样式

// @import url('./variable.scss');

html, body {
    width: 100%;
    height: 100%;
}

:global {
    .ant-layout {
        // height: 1000px !important;
    }

    .ant-layout-content {
        padding: 0;
        padding-top: 24px;
    }
}
