// 全局样式
@import './variable';

html, body, #root {
    width: $width-100;
    height: $height-100;
}

:global {
    .ant-layout {
        width: $width-100;
        height: $height-100;
        padding: 0 !important;

        .header {
            display: flex;
            align-items: center;
            padding: 6px 24px;
            background: rgb(97, 96, 96);

            .logo {
                box-sizing: border-box;
                border-radius: 4px;

                font-size: 18px;
                font-weight: bold;
                color: #fff;
                text-align: center;
            }
        }
    }

    .ant-layout-content {
        padding: 0;
        padding-top: 24px;
    }
}
